/* Reset */
html {
  box-sizing: border-box;
  font-size : 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p {
  margin     : 0;
  padding    : 0;
  font-weight: normal;
}

/* Style */

.calculator {
  width : 100vw;
  height: 100vh;
}

@media screen and (min-width:744px) and (max-width:1023px) {
  body {
    height          : 100vh;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: rgb(197, 197, 226);
  }

  .calculator {
    width           : 80vw;
    height          : 80vh;
    border-left     : 2.8rem solid rgb(15, 15, 99);
    border-right    : 2.8rem solid rgb(15, 15, 99);
    border-top      : 5rem solid rgb(15, 15, 99);
    border-bottom   : 3.6rem solid rgb(15, 15, 99);
    border-radius   : 10px;
    background-color: rgb(15, 15, 99);
  }
}

@media screen and (min-width:1024px) {
  body {
    height          : 100vh;
    display         : flex;
    align-items     : center;
    justify-content : center;
    background-color: rgb(197, 197, 226);
  }

  .calculator {
    width           : 480px;
    height          : 640px;
    border-left     : 1.8rem solid rgb(15, 15, 99);
    border-right    : 1.8rem solid rgb(15, 15, 99);
    border-top      : 4rem solid rgb(15, 15, 99);
    border-bottom   : 2.6rem solid rgb(15, 15, 99);
    border-radius   : 10px;
    background-color: rgb(15, 15, 99);
  }
}